<%- include("partials/headerLogin"); -%>
    <form action="/addAnswer" method="post">
        <h1 class="doing spaceBefore ">Viktorina <%=Question[0].name%>
        </h1>
        <div class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h3><%=Question.length-1%> Klausimas:
                        <div class="form-floating mb-3">
                            <textarea required rows="2" cols="32re" name="question" style="border-color:#ced4da"
                                required><%=Question[Question.length-1].question%></textarea>
                            </textarea>
                        </div>
                        <div class="form-floating mb-3">
                            <div class="right">

                                <label>Įveskite galimą atsakymą:</label>
                                <input required type="text" name="answer" autocomplete="off"
                                    class="form-control rounded-4">
                            </div>

                            <div class="left">
                                <button class="w-30 btn btn-outline-primary" type="submit">Pridėti atsakymą</button>
                            </div>
    </form>
    <% if(Answer.length>0){
        Answer.forEach(function(element) { %>
        <form action="/deleteAnswer" method="post">
            <div class="right">

                <input value="<%=element%>" type="text" name="delete" onchange="this.form.submit()" readonly="true"
                    class="form-control rounded-4">

            </div>
            <div class="left">

                <button class="w-30 btn btn-outline-primary" type="submit">Pašalinti
                    atsakymą</button>
            </div>
        </form>
    <% }) } %>
    <form action="/saveAnswer" method="post">
                <button class="w-30 btn btn-outline-primary" style="width: 150px;" type="submit">Kitas
                    klausimas</button>
            </form>

            </div>
            </div>
            <div class="col-md-5 order-md-1" style="text-align:right;">
                <img src="<%=Question.img%>">
            </div>
            </div>
            </div>

            <%- include("partials/footer"); -%>